apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  annotations:
    argocd.argoproj.io/sync-wave: "-50"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: {{ .Values.prometheus_stack.version }}
      helm:
        valuesObject:
          crds:
            enabled: false
          commonLabels:
            prometheus_server: kube-prometheus-stack
          prometheus:
            service:
              type: ClusterIP
              serviceMonitorSelector:
                matchLabels:
                  release: kube-prometheus-stack
            route:
              main:
                enabled: true
                apiVersion: gateway.networking.k8s.io/v1
                kind: HTTPRoute
                annotations: {}
                labels: {}
                hostnames:
                  - {{ .Values.prometheus_stack.prometheus_url }}
                parentRefs:
                  - name: {{ .Values.externalGateway.name }}
                    namespace: {{ .Values.externalGateway.namespace }}
                    kind: Gateway 
                    group: gateway.networking.k8s.io
            defaultRules:
              disabled:
                KubeCPUOvercommit: true
                KubeMemoryOvercommit: true
              rules:
                etcd: false
                windows: false
                kubeControllerManager: false
                kubeSchedulerAlerting: false
                kubeApiserverBurnrate: false
                kubeApiserverHistogram: false
                kubeApiserverSlos: false
                kubeDns: false
          grafana:
            grafana.ini:
              auth.anonymous:
                enabled: true
                org_name: MyOrg
                org_role: Viewer
              server:
                root_url: "https://{{ .Values.prometheus_stack.grafana_url }}"
            route:
              main:
                enabled: true
                apiVersion: gateway.networking.k8s.io/v1
                kind: HTTPRoute
                annotations: {}
                labels: {}
                hostnames:
                  - {{ .Values.prometheus_stack.grafana_url }}
                parentRefs:
                  - name: {{ .Values.externalGateway.name }}
                    namespace: {{ .Values.externalGateway.namespace }}
                    kind: Gateway 
                    group: gateway.networking.k8s.io            
            service:
              type: ClusterIP
            enabled: true
          alertmanager:
            enabled: true
            route:
              main:
                enabled: true
                apiVersion: gateway.networking.k8s.io/v1
                kind: HTTPRoute
                annotations: {}
                labels: {}
                hostnames:
                  - {{ .Values.prometheus_stack.alertmanager_url }}
                parentRefs:
                  - name: {{ .Values.externalGateway.name }}
                    namespace: {{ .Values.externalGateway.namespace }}
                    kind: Gateway 
                    group: gateway.networking.k8s.io
